@model IEnumerable<WebApplication2.Models.Announcement>

@{
    ViewData["Title"] = "Home Page";
}

<div class="grid">

    @foreach (Announcement a in Model)
    {
        <div class="grid-item">
            <h3>@Html.DisplayFor(post => a.AnnouncementTitle)</h3>
            <p class="announcement">@Html.DisplayFor(post => a.AnnouncementBody)</p>

            @if (a.Comments != null)
            {
                @foreach (Comment c in a.Comments)
                {
                    <p class="comments">@Html.DisplayFor(comment => c.CommentBody)</p>
                }
            }
           
        </div>
    }

</div>
