@model IEnumerable<WebApplication2.Models.Announcement>

@{
    ViewData["Title"] = "Home Page";
}

<div class="grid">

    @foreach (Announcement a in Model)
    {
        <div class="grid-item">
            <h3>@Html.DisplayFor(post => a.AnnouncementTitle)</h3>
            <p>@Html.DisplayFor(post => a.AnnouncementBody)</p>
        </div>
    }

</div>
